<div class='container'>
  <div class='row mt-5'>
    <div class='col d-flex justify-content-center'>
      <div class='card' style='width: 100%'>
        <div class='card-body'>
          <h5 class='card-title'>Yritykset</h5>
          <ul class='list-group'>
            <li *ngFor='let company of companies' class='list-group-item'>
              {{company.name}}
            </li>
          </ul>
          <a href='#' class='btn btn-primary mt-3'>Lisää</a>
        </div>
      </div>
    </div>
    <div class='col d-flex justify-content-center'>
      <div class='card' style='width: 100%'>
        <div class='card-body'>
          <h5 class='card-title'>Matkat</h5>
          <p class='card-text'>Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href='#' class='btn btn-primary'>Lisää</a>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>